</main>

<footer class="text-center">
  <div class="navbar flex-column">
    <a href="#" class="navbar-brand"><img src="/images/clintononfinance-logo.png" class="img-fluid" alt="clinton on finance"></a>
    <ul class="navbar-nav my-3">
      <li class="nav-item"><a href="#" class="nav-link">About</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
      <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Privacy Policy</a></li>
    </ul>
  </div>
  <span class="fw-light"> © 2022 Clintononfinance• All Rights Reserved</span>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/cb30b53727.js" crossorigin="anonymous"></script>
</body>

</html>
