 <%- include('partials/header'); %>

     <section id="hero" aria-label="Our latest pick">
       <h2 class="sr-only">Our latest pick</h2>
       <div role="image" aria-label=""></div>
       <article>
         <div class="text-center">
           <h4><a href="">make money</a><a href=""><time datetime="">24.12.22</time></a></h4>
           <h3><a href="">how to spend your extra time learning digital marketing</a></h3>
           <p>lorem ipsium sit dolor, lorem ipsium sit dolor, lorem ipsium sit dolor.</p>
         </div>
       </article>
     </section>

     <section class="container" aria-label="latest posts">
       <h2 class="sr-only">latest posts</h2>
       <div class="row">
         <article class="col-4 row d-md-block">
           <a class="col-md-12 col-6" href="" style="background:url('/images/feature-one.jpg') no-repeat center;"></a>
           <div class=" col-md-12 col-6 p-md-0 ps-sm-4">
             <h4><a href="" >build wealth</a><a href=""><time datetime="">24.12.22</time></a></h4>
             <h3><a href="">How To Make Make Money Online This Christmas Part</a></h3>
             <p>lorem ipsium sit dolor, lorem ipsium sit dolor, lorem ipsium sit dolor. </p>
           </div>
         </article>
         <article class="col-4 row d-md-block">
           <a class="col-md-12 col-6" href="" style="background:url('/images/feature-three.jpg') no-repeat center;"></a>
           <div class="col-md-12 col-6 p-md-0 ps-sm-4">
             <h4><a href="">products</a><a href=""><time datetime="">24.12.22</time></a></h4>
             <h3>Link Building For Local SEO: 7 Simple Strategies</h3>
             <p>lorem ipsium sit dolor, lorem ipsium sit dolor, lorem ipsium sit dolor. </p>
           </div>
         </article>
         <article class="col-4 row d-lg-block">
           <a class="col-lg-12 col-6" href="" style="background:url('/images/feature-two.jpg') no-repeat center;"></a>
           <div class="col-lg-12 col-6 p-lg-0 ps-sm-4">
             <h4><a href="">academy</a><a href=""><time datetime="">24.12.22</time></a></h4>
             <h3>A Step-By-Step Guide To Plan Your Finances</h3>
             <p>lorem ipsium sit dolor, lorem ipsium sit dolor, lorem ipsium sit dolor. </p>
           </div>
         </article>
       </div>
     </section>


     <section class="container" aria-label="recent-posts">
       <h2><span>recent posts</span></h2>
       <div class="row">
         <article class="col-4 row d-md-block">
           <a class="col-md-12 col-6" href="" style="background:url('/images/feature-three.jpg') no-repeat center;"></a>
           <div class="col-md-12 col-6 p-md-0 ps-sm-4">
             <h4><a href="">products</a><a href=""><time datetime="">24.12.22</time></a></h4>
             <h3>Link Building For Local SEO: 7 Simple Strategies</h3>
             <p>lorem ipsium sit dolor, lorem ipsium sit dolor, lorem ipsium sit dolor. </p>
           </div>
         </article>
         <article class="col-4 row d-md-block">
           <a class="col-md-12 col-6" href="" style="background:url('/images/feature-two.jpg') no-repeat center;"></a>
           <div class="col-md-12 col-6 p-md-0 ps-sm-4">
           <h4><a href="">academy</a><a href=""><time datetime="">24.12.22</time></a></h4>
           <h3>A Step-By-Step Guide To Plan Your Finances For Success</h3>
           <p>lorem ipsium sit dolor, lorem ipsium sit dolor, lorem ipsium sit dolor.</p>
           </div>
         </article>
         <article class="col-4 row d-lg-block">
           <a class="col-lg-12 col-6" href="" style="background:url('/images/feature-one.jpg') no-repeat center;"></a>
           <div class="col-lg-12 col-6 p-lg-0 ps-sm-4">
           <h4><a href="">build wealth</a><a href=""><time datetime="">24.12.22</time></a></h4>
           <h3><a href="">How To Make Make Money Online This Christmas Part</a></h3>
           <p>lorem ipsium sit dolor, lorem ipsium sit dolor, lorem ipsium sit dolor.</p>
           </div>
         </article>
       </div>
     </section>

     <section class="container" aria-label="know-crypto">
       <h2><span>know crypto</span></h2>
       <div class="row">
         <div class="col-8">
           <article class="row">
             <a class="col-6" href="" style="background:url('/images/feature-one.jpg') no-repeat center;"></a>
             <div class="col-6 ps-sm-4">
               <h4><a href="">build wealth</a><a href=""><time datetime="">24.12.22</time></a></h4>
               <h3><a href="">How To Make Make Money Online This Christmas Part</a></h3>
               <p class="excerpt">lorem ipsium sit dolor, lorem ipsium sit dolor, lorem ipsium sit dolor.</p>
             </div>
           </article>
           <article class="row">
             <a class="col-6" href="" style="background:url('/images/feature-three.jpg') no-repeat center;"></a>
             <div class="col-6 ps-sm-4">
               <h4><a href="">products</a><a href=""><time datetime="">24.12.22</time></a></h4>
               <h3>Link Building For Local SEO: 7 Simple Strategies</h3>
               <p class="excerpt">lorem ipsium sit dolor, lorem ipsium sit dolor, lorem ipsium sit dolor.</p>
             </div>
           </article>
           <article class="row">
             <a class="col-6" href="" style="background:url('/images/feature-two.jpg') no-repeat center;"></a>
             <div class="col-6 ps-sm-4">
               <h4><a href="">academy</a><a href=""><time datetime="">24.12.22</time></a></h4>
               <h3>A Step-By-Step Guide To Plan Your Finances For Long-Term Financial Success</h3>
               <p class="excerpt">lorem ipsium sit dolor, lorem ipsium sit dolor, lorem ipsium sit dolor.</p>
             </div>
           </article>
           <article class="row">
             <a class="col-6" href="" style="background:url('/images/feature-one.jpg') no-repeat center;"></a>
             <div class="col-6 ps-sm-4">
               <h4><a href="">products</a><a href=""><time datetime="">24.12.22</time></a></h4>
               <h3><a href="">How To Make Make Money Online This Christmas Part</a></h3>
               <p class="excerpt">lorem ipsium sit dolor, lorem ipsium sit dolor, lorem ipsium sit dolor.</p>
             </div>
           </article>
         </div>
         <aside class="text-end col-4 d-lg-block d-none">
           <div class="position-sticky">
             <i class="fab fa-2x mx-3 fa-facebook-f" role="image" aria-label="connect on facebook"></i><i class="fab mx-3 fa-2x fa-twitter" role="image" aria-label="connect on twitter"></i><i class="fab mx-3 fa-2x fa-linkedin-in" role="image" aria-label="connect on linkedin"></i>
           </div>
         </aside>
       </div>
     </section>


     <section class="connect text-center d-md-flex d-block" aria-label="stay connected">
         <div class="color-two col-md-6 col-12">
           <h3 id="follow-label">follow us</h3>
             <p>For Regular Updates On Recent Articles Related To The World Of Finance, Don't Hesitate To Drop Your Email.</p>
             <div class="mt-4"><i class="fab fa-17 fa-facebook-f mx-4" role="image" aria-label="connect on facebook"></i><i class="fab mx-3 fa-17 fa-twitter"  role="image" aria-label="connect on twitter"></i><i class="fab mx-3 fa-17 fa-linkedin-in"  role="image" aria-label="connect on linkedin"></i></div>
         </div>
         <div class="color-one col-md-6 col-12">
           <h3>subscribe</h3>
             <p>For Regular Updates On Recent Articles Related To The World Of Finance, Don't Hesitate To Drop Your Email.</p>
             <form class="mt-4 border" action="/" method="post">
               <div class="input-group">
                 <input type="email" class="form-control" name="email" aria-label="Enter an email" placeholder="Enter an email" required>
                 <button type="submit" class="btn btn-primary" name="subbutton" aria-label="submit"><i class="fa-solid fa-arrow-right-from-bracket" aria-hidden="true"></i></button>
               </div>
             </form>
         </div>
     </section>


     <section class="container" aria-label="build-wealth">
       <h2><span>build wealth</span></h2>
       <div class="row">
         <article class="col-4 row d-md-block">
           <a class="col-md-12 col-6" href="" style="background:url('/images/feature-three.jpg') no-repeat center;"></a>
           <div class="col-md-12 col-6 p-md-0 ps-sm-4">
             <h4><a href="">products</a><a href=""><time datetime="">24.12.22</time></a></h4>
             <h3>Link Building For Local SEO: 7 Simple Strategies</h3>
             <p>lorem ipsium sit dolor, lorem ipsium sit dolor, lorem ipsium sit dolor. </p>
           </div>
         </article>
         <article class="col-4 row d-md-block">
           <a class="col-md-12 col-6" href="" style="background:url('/images/feature-two.jpg') no-repeat center;"></a>
           <div class="col-md-12 col-6 p-md-0 ps-sm-4">
           <h4><a href="">academy</a><a href=""><time datetime="">24.12.22</time></a></h4>
           <h3>A Step-By-Step Guide To Plan Your Finances For Success</h3>
           <p>lorem ipsium sit dolor, lorem ipsium sit dolor, lorem ipsium sit dolor.</p>
           </div>
         </article>
         <article class="col-4 row d-lg-block">
           <a class="col-lg-12 col-6" href="" style="background:url('/images/feature-one.jpg') no-repeat center;"></a>
           <div class="col-lg-12 col-6 p-lg-0 ps-sm-4">
           <h4><a href="">build wealth</a><a href=""><time datetime="">24.12.22</time></a></h4>
           <h3><a href="">How To Make Make Money Online This Christmas Part</a></h3>
           <p>lorem ipsium sit dolor, lorem ipsium sit dolor.</p>
           </div>
         </article>
       </div>
     </section>

     <section class="container" aria-label="know-finance">
       <h2><span>know finance</span></h2>
       <div class="row">
         <article class="col-6 row d-lg-block larger-article">
           <a class="col-lg-12 col-6 h-600" href="" style="background:url('/images/feature-three.jpg') no-repeat center;background-size:cover;"></a>
           <div class="col-lg-12 col-6 p-lg-0 ps-sm-4">
            <h4><a href="">products</a><a href=""><time datetime="">24.12.22</time></a></h4>
            <h3>Link Building For Local SEO: 7 Simple Strategies</h3>
            <p class="excerpt">lorem ipsium sit dolor, lorem ipsium sit dolor, lorem ipsium sit dolor.</p>
           </div>
         </article>
         <div class="col-6 smaller-grid g-0">
           <div class="row">
             <article class="col-6 row d-lg-block">
               <a class="col-lg-12 col-6" href="" style="background:url('/images/feature-two.jpg') no-repeat center;"></a>
               <div class="col-lg-12 col-6 p-lg-0 ps-sm-4">
               <h4><a href="">academy</a><a href=""><time datetime="">24.12.22</time></a></h4>
               <h3>A Step-By-Step Guide To Plan Your Finances For Long-Term Financial Success</h3>
               <p class="excerpt">lorem ipsium sit dolor, lorem ipsium sit dolor, lorem ipsium sit dolor.</p>
               </div>
            </article>
             <article class="col-6 row d-lg-block">
               <a class="col-lg-12 col-6" href="" style="background:url('/images/feature-one.jpg') no-repeat center;"></a>
               <div class="col-lg-12 col-6 p-lg-0 ps-sm-4">
               <h4><a href="">finance</a><a href=""><time datetime="">24.12.22</time></a></h4>
               <h3><a href="">How To Make Make Money Online This Christmas Part</a></h3>
               <p class="excerpt">lorem ipsium sit dolor, lorem ipsium sit dolor, lorem ipsium sit dolor.</p>
                </div>
             </article>
           </div>
           <div class="row">
             <article class="col-6 row d-lg-block">
               <a class="col-lg-12 col-6" href="" style="background:url('/images/feature-two.jpg') no-repeat center;"></a>
              <div class="col-lg-12 col-6 p-lg-0 ps-sm-4">
               <h4><a href="">academy</a><a href=""><time datetime="">24.12.22</time></a></h4>
               <h3>A Step-By-Step Guide To Plan Your Finances For Long-Term Financial Success</h3>
               <p class="excerpt">lorem ipsium sit dolor, lorem ipsium sit dolor, lorem ipsium sit dolor.</p>
               </div>
             </article>
             <article class="col-6 row d-lg-block">
               <a class="col-lg-12 col-6" href="" style="background:url('/images/feature-two.jpg') no-repeat center;"></a>
                <div class="col-lg-12 col-6 p-lg-0 ps-sm-4">
               <h4><a href="">academy</a><a href=""><time datetime="">24.12.22</time></a></h4>
               <h3>A Step-By-Step Guide To Plan Your Finances For Long-Term Financial Success</h3>
               <p class="excerpt">lorem ipsium sit dolor, lorem ipsium sit dolor, lorem ipsium sit dolor.</p>
            </div>
             </article>
           </div>
         </div>
       </div>
     </section>


     <section class="connect text-center d-md-flex d-block" aria-label="stay connected">
         <div class="color-two col-md-6 col-12">
           <h3 id="follow-label">follow us</h3>
             <p>For Regular Updates On Recent Articles Related To The World Of Finance, Don't Hesitate To Drop Your Email.</p>
             <div class="mt-4"><i class="fab fa-17 fa-facebook-f mx-4" role="image" aria-label="connect on facebook"></i><i class="fab mx-3 fa-17 fa-twitter"  role="image" aria-label="connect on twitter"></i><i class="fab mx-3 fa-17 fa-linkedin-in"  role="image" aria-label="connect on linkedin"></i></div>
         </div>
         <div class="color-one col-md-6 col-12">
           <h3>subscribe</h3>
             <p>For Regular Updates On Recent Articles Related To The World Of Finance, Don't Hesitate To Drop Your Email.</p>
             <form class="mt-4 border" action="/" method="post">
               <div class="input-group">
                 <input type="email" class="form-control" name="email" aria-label="Enter an email" placeholder="Enter an email" required>
                 <button type="submit" class="btn btn-primary" name="subbutton" aria-label="submit"><i class="fa-solid fa-arrow-right-from-bracket" aria-hidden="true"></i></button>
               </div>
             </form>
         </div>
     </section>

 <%- include('partials/footer'); %>
