<%- include('partials/header'); %>

<section>
  <div class="">

  </div>
  <div class="row">
    <div class="col-8">

    </div>
    <div class="col-4">

    </div>
  </div>

</section>

<aside class="" aria-label="related posts">

</aside>










<%- include('partials/footer'); %>
